@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');
@theme {
  --color-gold: #c9a84c;
  --color-gold-light: #e8c97a;
  --color-gold-dark: #a07830;
  --color-dark: #0a0a0a;
  --color-dark-card: #141414;
  --color-dark-border: #2a2a2a;
  --color-cream: #f0ece4;

  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Inter", system-ui, sans-serif;
}
/* this is the default style when  */
@layer base {
  body {
    background-color: var(--color-dark);
    color: var(--color-cream);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4 {
    font-family: var(--font-serif);
  }
}